/*--------------------------------------------------------------
# About One
--------------------------------------------------------------*/
.about-one {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.about-one__left {
    position: relative;
    display: block;
    margin-left: 120px;
    margin-right: 144px;
}

.about-one__img {
    position: relative;
    display: block;
    z-index: 1;
}

.about-one__img img {
    width: 100%;
}

.about-one__shape-1 {
    position: absolute;
    top: 25px;
    left: -120px;
    z-index: -1;
}

.about-one__shape-1 img {
    width: auto;
}

.about-one__shape-2 {
    position: absolute;
    bottom: 13px;
    left: -106px;
    z-index: -1;
}

.about-one__shape-2 img {
    width: auto;
}

.about-one__shape-3 {
    position: absolute;
    top: 129px;
    right: -140px;
    z-index: -1;
}

.about-one__shape-3 img {
    width: auto;
}

.about-one__shape-4 {
    position: absolute;
    top: -7px;
    left: -107px;
    z-index: -1;
}

.about-one__shape-4 img {
    width: auto;
}

.about-one__happy-client {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--saqib-primary);
    border-radius: 8px;
    max-width: 295px;
    width: 100%;
    padding: 23px 26px 20px;
    bottom: 38px;
    left: -120px;
    z-index: 2;
}

.about-one__client-img-box {
    position: relative;
    display: block;
}

.about-one__client-img-list {
    position: relative;
    display: flex;
    align-items: center;
}

.about-one__client-img-list li {
    position: relative;
    display: block;
}

.about-one__client-img-list li+li {
    margin-left: -16px;
}

.about-one__client-img {
    position: relative;
    display: block;
    max-width: 46px;
}

.about-one__client-img img {
    width: 100%;
    border-radius: 500%;
    border: 1px solid var(--saqib-base);
}

.about-one__happy-client-content {
    position: relative;
    display: block;
}

.about-one__count {
    position: relative;
    display: flex;
    align-items: center;
}

.about-one__count h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
}

.about-one__count-plus {
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    color: var(--saqib-black);
}

.about-one__count-text {
    font-size: 21px;
    color: #20202D;
    margin-top: 9px;
}

.about-one__right {
    position: relative;
    display: block;
    margin-left: 30px;
}

.about-one__right .section-title {
    margin-bottom: 30px;
}

.about-one__main-tab-box {
    position: relative;
    display: block;
}

.about-one__main-tab-box .tab-buttons {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 5;
}

.about-one__main-tab-box .tab-buttons .tab-btn+.tab-btn {
    margin-left: 15px;
}

.about-one__main-tab-box .tab-buttons .tab-btn {
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 13px 30px 13px;
    border: 1px solid var(--saqib-bdr-color);
    background-color: var(--saqib-white);
    transition: all 0.3s ease;
    border-radius: 32px;
    overflow: hidden;
    z-index: 1;
}

.about-one__main-tab-box .tab-buttons .tab-btn.active-btn {
    border: 1px solid transparent;
}

.about-one__main-tab-box .tab-buttons .tab-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0%;
    content: "";
    background: var(--saqib-base);
    border-radius: 32px;
    transition: all 0.3s ease;
    z-index: -1;
}

.about-one__main-tab-box .tab-buttons .tab-btn.active-btn:before {
    height: 100%;
}

.about-one__main-tab-box .tab-buttons .tab-btn p {
    position: relative;
    display: block;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    font-size: 16px;
    line-height: 16px;
    color: var(--saqib-black);
    font-weight: 700;
    transition: all 0.3s ease;
    z-index: 1;
}

.about-one__main-tab-box .tab-buttons .tab-btn.active-btn p {
    color: var(--saqib-white);
}

.about-one__main-tab-box .tabs-content {
    position: relative;
    display: block;
    z-index: 1;
}

.about-one__main-tab-box .tabs-content .tab {
    position: relative;
    display: none;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    z-index: 10;
}

.about-one__main-tab-box .tabs-content .tab.active-tab {
    display: block;
    margin-top: 0px;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.about-one__tab-content-box {
    position: relative;
    display: block;
}

.about-one__text-1 {
    margin-top: 19px;
    margin-bottom: 30px;
}

.about-one__points-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-one__points {
    position: relative;
    display: block;
}

.about-one__points li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-one__points li+li {
    margin-top: 12px;
}

.about-one__points li .icon {
    position: relative;
    display: inline-block;
}

.about-one__points li .icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--saqib-base);
}

.about-one__btn-box {
    margin-top: 40px;
}

/*--------------------------------------------------------------
# About Two
--------------------------------------------------------------*/
.about-two {
    position: relative;
    display: block;
    padding: 0 0 120px;
    z-index: 1;
}

.about-two__left {
    position: relative;
    display: block;
    margin-left: 50px;
    margin-right: 30px;
}

.about-two__img-box {
    position: relative;
    display: block;
}

.about-two__img {
    position: relative;
    display: block;
}

.about-two__img::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 10px;
    right: 30px;
    bottom: -30px;
    border: 5px solid var(--saqib-base);
    border-radius: 20px;
    animation: topBottom 3s ease-in-out infinite;
}

.about-two__img img {
    width: 100%;
    border-radius: 20px;
}

.about-two__shape-1 {
    position: absolute;
    left: -22px;
    bottom: -22px;
    animation: leftRight 4s ease-in-out infinite;
}

.about-two__shape-1 img {
    width: auto;
}

.about-two__count-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    max-width: 280px;
    width: 100%;
    padding: 20px 20px 20px;
}

.about-two__count-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: var(--saqib-primary);
    border-radius: 50%;
}

.about-two__count-icon span {
    position: relative;
    display: inline-block;
    font-size: 48px;
    color: var(--saqib-base);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.about-two__count-box:hover .about-two__count-icon span {
    transform: scale(0.9);
}

.about-two__count-inner {
    position: relative;
    display: block;
}

.about-two__count {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.about-two__count h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.about-two__count span {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: var(--saqib-black);
}

.about-two__right {
    position: relative;
    display: block;
    margin-top: 73px;
}

.about-two__right .section-title {
    margin-bottom: 20px;
}

.about-two__progress-box {
    position: relative;
    display: block;
    margin-top: 24px;
    margin-bottom: 38px;
}

.about-two__progress-box li {
    position: relative;
    display: block;
}

.about-two__progress-box li+li {
    margin-top: 21px;
}

.about-two__progress {
    position: relative;
    display: block;
}

.about-two__progress-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--saqib-black);
    margin-bottom: 3px;
}

.about-two__progress .bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(var(--saqib-bdr-color-rgb), .50);
    border-radius: 3px;
}

.about-two__progress .bar-inner-one {
    position: relative;
    display: block;
    width: 85%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--saqib-base);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.about-two__progress .bar-inner-two {
    position: relative;
    display: block;
    width: 77%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--saqib-base);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.about-two__progress .bar-inner-three {
    position: relative;
    display: block;
    width: 95%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--saqib-base);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.about-two__progress .count-text {
    position: absolute;
    right: -14px;
    bottom: 8px;
    color: var(--saqib-black);
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    opacity: 1;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.about-two__progress .bar-inner.counted .count-text {
    opacity: 1;
}

.about-two__progress .bar.marb-0 {
    margin-bottom: 0;
}

.about-two__btn-box {
    position: relative;
    display: block;
}

.about-two__btn {
    color: var(--saqib-white) !important;
}

.about-two__btn span {
    color: var(--saqib-white) !important;
}

/*--------------------------------------------------------------
# About Three
--------------------------------------------------------------*/
.about-three {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.about-three__left {
    position: relative;
    display: block;
    margin-left: 100px;
    margin-right: 30px;
}

.about-three__img-box {
    position: relative;
    display: block;
}

.about-three__img {
    position: relative;
    display: block;
}

.about-three__img img {
    width: 100%;
    border-radius: 20px;
}

.about-three__img-2 {
    position: absolute;
    bottom: 82px;
    left: -100px;
}

.about-three__img-2::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 5px solid var(--saqib-white);
    border-radius: 20px;
}

.about-three__img-2 .about-three__img-2 img {
    width: auto;
    border-radius: 20px;
}

.circle-text__rounded-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60px;
    left: -87px;
    width: 173px;
    height: 173px;
    background-color: var(--saqib-base);
    border-radius: 50%;
    z-index: 2;
}

.circle-text__curved-circle-box {
    position: relative;
    display: block;
    width: 140px;
    height: 166px;
    animation-name: border-round;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 3;
}

.circle-text__curved-circle-box .curved-circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--saqib-white);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1.03px;
}

.circle-text__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.circle-text__icon a {
    position: relative;
    display: inline-block;
    font-size: 43px;
    color: var(--saqib-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    transform: rotate(-140deg);
}

@keyframes border-round {

    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
        opacity: 1;
    }
}

.about-three__right {
    position: relative;
    display: block;
    margin-top: 77px;
}

.about-three__right .section-title {
    margin-bottom: 40px;
}

.about-three__icon-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-three__icon-list li {
    position: relative;
    display: block;
    border: 1px solid var(--saqib-bdr-color);
    border-radius: 20px;
    max-width: 190px;
    width: 100%;
    padding: 16px 18px 17px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.about-three__icon-list li:hover {
    border: 1px solid var(--saqib-base);
}

.about-three__icon-and-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.about-three__icon {
    position: relative;
    display: inline-block;
}

.about-three__icon span {
    position: relative;
    display: inline-block;
    font-size: 38px;
    color: var(--saqib-black);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.about-three__icon-list li:hover .about-three__icon span {
    transform: scale(0.9);
}

.about-three__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.about-three__points-box {
    position: relative;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.about-three__points-box li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-three__points-box li+li {
    margin-top: 15px;
}

.about-three__points-box li .icon {
    position: relative;
    display: inline-block;
}

.about-three__points-box li .icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--saqib-base);
}

.about-three__btn-box {
    position: relative;
    display: block;
}

/*--------------------------------------------------------------
# About Four  
--------------------------------------------------------------*/
.about-four {
    position: relative;
    display: block;
    padding: 0 0 120px;
    z-index: 1;
}

.about-four__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc((100% - -310px) / 2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    border-bottom-left-radius: 20px;
    z-index: -1;
}

.about-four__left {
    position: relative;
    display: block;
    background-color: var(--saqib-base);
    margin-right: 30px;
    padding: 80px 80px 80px;
    padding-left: 0;
    border-bottom-right-radius: 20px;
    z-index: 1;
}

.about-four__left::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100000px;
    bottom: 0;
    right: 0;
    background-color: var(--saqib-base);
    border-bottom-right-radius: 20px;
    z-index: -1;
}

.about-four__left .section-title {
    margin-bottom: 20px;
}

.about-four__left .section-title__tagline {
    color: var(--saqib-white);
}

.about-four__left .section-title__title {
    color: var(--saqib-white);
}

.about-four__text {
    color: var(--saqib-white);
}

.about-four__points-box {
    position: relative;
    display: block;
    margin-top: 30px;
}

.about-four__points-box li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--saqib-bdr-color);
    border-radius: 20px;
    padding: 19px 40px 18px;
}

.about-four__points-box li+li {
    margin-top: 20px;
}

.about-four__points-box li .icon {
    position: relative;
    display: inline-block;
}

.about-four__points-box li .icon span {
    position: relative;
    display: inline-block;
    font-size: 62px;
    color: var(--saqib-white);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.about-four__points-box li:hover .icon span {
    transform: scale(0.9);
}

.about-four__points-box li .content {
    position: relative;
    display: block;
}

.about-four__points-box li .content h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--saqib-white);
    margin-bottom: 9px;
}

.about-four__points-box li .content p {
    font-size: 16px;
    color: var(--saqib-white);
}






/*--------------------------------------------------------------
# End  
--------------------------------------------------------------*/