/*--------------------------------------------------------------
# Counter One
--------------------------------------------------------------*/
.counter-one {
    position: relative;
    display: block;
    z-index: 1;
}

.counter-one__wrap {
    position: relative;
    display: block;
    background-color: var(--maroof-black);
    padding: 120px 0 242px;
    border-radius: 20px;
    max-width: 1760px;
    width: 100%;
    margin: 0 auto;
}

.counter-one__left {
    position: relative;
    display: block;
}

.counter-one__left .section-title__title {
    color: var(--maroof-white);
}

.counter-one__left .section-title {
    margin-bottom: 20px;
}

.counter-one__text {
    color: var(--maroof-white);
}

.counter-one__need-help {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 37px;
}

.counter-one__need-help .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgba(var(--maroof-white-rgb), .10);
    border-radius: 50%;
}

.counter-one__need-help .icon span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: var(--maroof-white);
}

.counter-one__need-help .content {
    position: relative;
    display: block;
}

.counter-one__need-help .content p {
    color: var(--maroof-white);
}

.counter-one__need-help .content h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 3px;
}

.counter-one__need-help .content h4 a {
    color: var(--maroof-white);
}

.counter-one__need-help .content h4 a:hover {
    color: var(--maroof-base);
}

.counter-one__right {
    position: relative;
    display: block;
    margin-left: 60px;
}

.counter-one__single {
    position: relative;
    display: block;
    text-align: center;
    border: 1px solid rgba(var(--maroof-white-rgb), .10);
    border-radius: 20px;
    padding: 19px 30px 19px;
    margin-bottom: 30px;
}

.counter-one__icon-and-count-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.counter-one__icon {
    position: relative;
    display: inline-block;
}

.counter-one__icon span {
    position: relative;
    display: inline-block;
    font-size: 65px;
    color: var(--maroof-base);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.counter-one__single:hover .counter-one__icon span {
    transform: scale(.9);
}

.counter-one__count {
    position: relative;
    display: flex;
    align-items: center;
}

.counter-one__count h3 {
    font-size: 59px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: -1.2px;
    color: var(--maroof-white);
}

.counter-one__count span {
    font-size: 59px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: -1.2px;
    color: var(--maroof-white);
}

.counter-one__single p {
    color: var(--maroof-white);
    margin-top: 5px;
}

/*--------------------------------------------------------------
# Counter Two
--------------------------------------------------------------*/
.counter-two {
    position: relative;
    display: block;
}

.counter-two__wrap {
    position: relative;
    display: block;
    max-width: 1760px;
    width: 100%;
    background-color: var(--maroof-primary);
    border-radius: 50px;
    padding: 120px 0 120px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

.counter-two__bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .20;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.counter-two__left {
    position: relative;
    display: block;
    background-color: var(--maroof-white);
    border-radius: 20px;
    padding: 38px 40px 40px;
}

.counter-two__points-list {
    position: relative;
    display: block;
}

.counter-two__points-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.counter-two__points-list li+li {
    margin-top: 19px;
}

.counter-two__points-list li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    width: 100%;
    height: 80px;
    background-color: var(--maroof-base);
    border-radius: 50%;
}

.counter-two__points-list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 45px;
    color: var(--maroof-white);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.counter-two__points-list li:hover .icon span {
    transform: scale(0.9);
}

.counter-two__points-list li .content {
    position: relative;
    display: block;
}

.counter-two__points-list li .content h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}

.counter-two__points-list li .content p {
    margin-top: 6px;
}

.counter-two__right {
    position: relative;
    display: block;
    background-color: var(--maroof-base);
    padding: 90px 60px 60px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.counter-two__right-bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.counter-two__right .row {
    --bs-gutter-x: 20px;
}

.counter-two__single {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(var(--maroof-white-rgb), .10);
    border: 1px solid rgba(var(--maroof-bdr-color-rgb), .50);
    border-radius: 20px;
    gap: 15px;
    padding: 21px 20px 20px;
    margin-bottom: 30px;
}

.counter-two__icon {
    position: relative;
    display: inline-block;
}

.counter-two__icon span {
    position: relative;
    display: inline-block;
    font-size: 50px;
    color: var(--maroof-white);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.counter-two__single:hover .counter-two__icon span {
    transform: scale(0.9);
}

.counter-two__count-box {
    position: relative;
    display: block;
}

.counter-two__count {
    position: relative;
    display: flex;
    align-items: center;
}

.counter-two__count h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: var(--maroof-white);
}

.counter-two__count span {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: var(--maroof-white);
}

.counter-two__count-text {
    font-size: 16px;
    line-height: 26px;
    color: rgba(var(--maroof-white-rgb), .90);
    margin-top: 1px;
}















/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/