/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    position: relative;
    display: block;
    padding: 235px 0 215px;
    background-color: var(--maroof-black);
    overflow: hidden;
    z-index: 1;
}

.page-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .20;
    z-index: -1;
}

.page-header__inner {
    position: relative;
    display: block;
    text-align: center;
}

.page-header__inner h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: var(--maroof-white);
    text-transform: capitalize;
    margin-bottom: 8px;
}

.thm-breadcrumb__box {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.thm-breadcrumb {
    position: relative;
    display: inline-block;
}

.thm-breadcrumb li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: var(--maroof-white);
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li+li {
    margin-left: 10px;
}

.thm-breadcrumb li span {
    position: relative;
    font-size: 12px;
    font-weight: 600;
}

.thm-breadcrumb li a {
    position: relative;
    display: inline-block;
    color: var(--maroof-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li:hover a {
    color: var(--maroof-base);
}