/*--------------------------------------------------------------
# Team One
--------------------------------------------------------------*/
.team-one {
    position: relative;
    display: block;
    padding: 120px 0 90px;
    z-index: 1;
}

.team-one__single {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--maroof-bdr-color);
    border-radius: 20px;
    padding: 39px 39px 39px;
    margin-bottom: 30px;
}

.team-one__img-box {
    position: relative;
    display: block;
    max-width: 300px;
    width: 100%;
    border-right: 1px solid var(--maroof-bdr-color);
    padding-right: 20px;
}

.team-one__img {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.team-one__img::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--maroof-black);
    opacity: 0;
    transition: background-color 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
}

.team-one__single:hover .team-one__img::before {
    opacity: .50;
}

.team-one__img img {
    width: 100%;
    border-radius: 20px;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;
}

.team-one__single:hover .team-one__img img {
    transform: scale(1.05) rotate(0deg);
}

.team-one__content {
    position: relative;
    display: block;
}

.team-one__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    text-transform: capitalize;
}

.team-one__title a {
    color: var(--maroof-black);
}

.team-one__title a:hover {
    color: var(--maroof-base);
}

.team-one__sub-title {
    margin-top: 6px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.team-one__text {
    font-size: 12px;
    line-height: 16px;
}

.team-one__social {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.team-one__social a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--maroof-primary);
    border-radius: 50%;
    font-size: 16px;
    color: var(--maroof-black);
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.team-one__social a:hover {
    color: var(--maroof-white);
    background-color: var(--maroof-base);
}

.team-one__social a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--maroof-base);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 1;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
}

.team-one__social a:hover:after {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/*--------------------------------------------------------------
# Team Two
--------------------------------------------------------------*/
.team-two {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.team-two__carousel {
    position: relative;
    display: block;
}

.team-two__single {
    position: relative;
    display: block;
}

.team-two__img-box {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 2;
}

.team-two__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
}

.team-two__img::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--maroof-black-rgb), .40);
    visibility: hidden;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scaleY(0) translateZ(100px);
    transform: scaleY(0) translateZ(100px);
    -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease, -webkit-transform 700ms ease;
    z-index: 1;
}

.team-two__single:hover .team-two__img::before {
    visibility: visible;
    -webkit-transform: scaleY(1) translateZ(0px);
    transform: scaleY(1) translateZ(0px);
}

.team-two__img img {
    width: 100%;
    border-radius: 50%;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;
}

.team-two__single:hover .team-two__img img {
    transform: scale(1.05) rotate(0deg);
}

.team-two__content {
    position: relative;
    display: block;
    border: 1px solid var(--maroof-bdr-color);
    border-radius: 20px;
    text-align: center;
    padding: 192px 30px 39px;
    margin-top: -175px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.team-two__single:hover .team-two__content {
    border: 1px solid transparent;
}

.team-two__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    transform: scaleX(0.7) rotateX(20deg);
    opacity: 0;
    transition: all 0.4s linear;
    z-index: -1;
}

.team-two__single:hover .team-two__content::before {
    transform: scaleX(1.0) rotateX(0deg);
    transition: all 0.4s linear;
    opacity: 1;
}

.team-two__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}

.team-two__title a {
    color: var(--maroof-black);
}

.team-two__title a:hover {
    color: var(--maroof-base);
}

.team-two__sub-title {
    position: relative;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 30px;
}

.team-two__sub-title::before {
    content: "";
    position: absolute;
    left: -12px;
    right: -12px;
    bottom: -11px;
    height: 1px;
    background-color: var(--maroof-bdr-color);
}

.team-two__social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team-two__social a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--maroof-primary);
    border-radius: 50%;
    font-size: 14px;
    color: var(--maroof-black);
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.team-two__social a:hover {
    color: var(--maroof-white);
    background-color: var(--maroof-base);
}

.team-two__social a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--maroof-base);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 1;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
}

.team-two__social a:hover:after {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.team-two__carousel.owl-theme .owl-dots {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 87px !important;
}

.team-two__carousel.owl-theme .owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--maroof-base);
    margin: 0px 10px;
    padding: 0px;
    transition: all 100ms linear;
    transition-delay: 0.1s;
}

.team-two__carousel.owl-theme .owl-dots .owl-dot:before {
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    content: "";
    border: 2px solid var(--maroof-base);
    border-radius: 50%;
    transform: scale(0);
    transition: all 100ms linear;
    transition-delay: 0.1s;
}

.team-two__carousel.owl-theme .owl-dot.active:before {
    transform: scale(1);
}

.team-two__carousel.owl-theme .owl-dot:focus {
    outline: none;
}

.team-two__carousel.owl-theme .owl-dots .owl-dot span {
    display: none;
}

/*--------------------------------------------------------------
# Team Details
--------------------------------------------------------------*/
.team-details {
    position: relative;
    display: block;
    padding: 120px 0 115px;
    z-index: 1;
}

.team-details__top {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    border: 1px solid var(--maroof-bdr-color);
    border-radius: 20px;
    padding: 60px 39px 60px;
    z-index: 1;
}

.team-details__sign {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.team-details__sign img {
    width: auto;
}

.team-details__img {
    position: relative;
    display: block;
}

.team-details__img img {
    width: auto;
    border-radius: 20px;
}

.team-details__content {
    position: relative;
    display: block;
}

.team-details__name-and-social-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-details__name-box {
    position: relative;
    display: block;
}

.team-details__name-box-shape {
    position: absolute;
    left: 0;
    bottom: -16px;
}

.team-details__name-box-shape img {
    width: auto;
}

.team-details__name {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

.team-details__sub-title {
    font-size: 16px;
    line-height: 26px;
    margin-top: 1px;
}

.team-details__social {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-details__social a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: var(--maroof-black);
    border: 1px solid var(--maroof-bdr-color);
    border-radius: 50%;
}

.team-details__social a:hover {
    border: 1px solid var(--maroof-base);
    background-color: var(--maroof-base);
    color: var(--maroof-white);
}

.team-details__top-text {
    margin-top: 32px;
    margin-bottom: 39px;
}

.team-details__btn-contact {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.team-details__btn-box {
    position: relative;
    display: block;
}

.team-details__btn {
    padding: 14px 29px 14px !important;
    border: 1px solid var(--maroof-bdr-color) !important;
    background-color: transparent !important;
}

.team-details__btn span {
    color: var(--maroof-black) !important;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.team-details__btn:hover span {
    color: var(--maroof-white) !important;
}

.team-details__contact {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.team-details__contact .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: var(--maroof-base);
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.team-details__contact .icon:hover {
    background-color: var(--maroof-black);
}

.team-details__contact .icon span {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: var(--maroof-white);
}

.team-details__contact h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}

.team-details__contact h3 a {
    color: var(--maroof-black);
}

.team-details__contact h3 a:hover {
    color: var(--maroof-base);
}

.team-details__bottom {
    position: relative;
    display: block;
    margin-top: 40px;
}

.team-details__progress-inner {
    position: relative;
    display: block;
}

.team-details__progress-title-1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 35px;
}

.team-details__progress-list {
    position: relative;
    display: block;
}

.team-details__progress-box {
    position: relative;
    display: block;
}

.team-details__progress-box li {
    position: relative;
    display: block;
}

.team-details__progress-box li+li {
    margin-top: 21px;
}

.team-details__progress {
    position: relative;
    display: block;
}

.team-details__progress-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: var(--maroof-black);
    margin-bottom: 4px;
}

.team-details__progress .bar {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: var(--maroof-bdr-color);
    border-radius: 4px;
}

.team-details__progress .bar-inner_one {
    position: relative;
    display: block;
    width: 70%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--maroof-base);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.team-details__progress .bar-inner_two {
    position: relative;
    display: block;
    width: 50%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--maroof-base);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.team-details__progress .bar-inner_three {
    position: relative;
    display: block;
    width: 80%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--maroof-base);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.team-details__progress .bar-inner_four {
    position: relative;
    display: block;
    width: 90%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--maroof-base);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.team-details__progress .count-text {
    position: absolute;
    right: -14px;
    bottom: 8px;
    color: var(--maroof-black);
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    opacity: 1;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.team-details__progress .bar-inner.counted .count-text {
    opacity: 1;
}

.team-details__progress .bar.marb-0 {
    margin-bottom: 0;
}

.team-details__bottom-title-1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 45px;
    margin-bottom: 18px;
}


















/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/